<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.java.book.mapper.BookMapper">
	<select id="bookAllList" resultType="BookVO">
		SELECT   book_no,
	             book_name,
	             book_coverimg,
	             book_date,
	             book_price,
	             book_publsher,
	             book_info
	   FROM		book_tbl_06
	   ORDER BY book_no
	</select>
	
	<select id="getBookNo" resultType="BookVO">
 		SELECT NVL(MAX(book_no), 0) + 1 as book_no
 		FROM book_tbl_06
 	</select>
	
	<insert id="bookInsert" parameterType="BookVO">
		INSERT INTO book_tbl_06(
                        book_no,
                        book_name,
                        book_coverimg,
                        book_date,
                        book_price,
                        book_publsher,
                        book_info
                        )
                VALUES(
                        #{bookNo},
                        #{bookName},
                        #{bookCoverimg},
                        sysdate,
                        #{bookPrice},
                        #{bookPublsher},
                        #{bookInfo}
                        )
	</insert>
	
	<select id="bookRentList" resultType="BookVO">
		select r.book_no, b.book_name, sum(book_price) book_price, count(r.book_no) count
		from book_tbl_06 b join rent_tbl_06 r
		on b.book_no = r.book_no
		group by r.book_no, b.book_name
		order by r.book_no
	</select>
	
</mapper>